---
import "../styles/index.css";
import { getCollection } from "astro:content";

const herbs = (await getCollection("herbs")).map((entry) => entry.data);
const staples = (await getCollection("staples")).map((entry) => entry.data);
const batches = (await getCollection("batches")).map((entry) => entry.data);

const currentHerbs = herbs.filter((herb) => herb.season === 'summer');
const currentIngredients = [...currentHerbs, ...staples];
const currentBatches = batches.filter((batch) => batch.season === 'summer');
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sage & Sundry</title>
  </head>
  <body>
    <header>
      <h1>Sage & Sundry Apothecary</h1>
      <button class="current-season"><p>Summer</p></button>
    </header>
    <aside class="in-season">
      <h2>In season:</h2>
      <ul>
        {
          herbs.map((herb) => (
            <li>
              <p>{herb.name}</p>
              <p>{herb.freshnessDays}</p>
            </li>
          ))
        }
      </ul>
    </aside>
    <main>
      <section class="pantry">
        <h2>Ingredients in Stock</h2>
        <table>
          <thead>
            <th>Ingredient</th>
            <th>Stock</th>
            <th>Freshness</th>
            <th>In Use</th>
          </thead>
          <tbody>
            {currentIngredients.map((ingredient) => (
              <tr>
                <td>{ingredient.name}</td>
                <td>{ingredient.stockLevel}</td>
                <td>{ingredient.freshnessDays} Days</td>
                <td>{} Batches</td>
              </tr>
            ))}
          </tbody>
        </table>
      </section>
      <div class="active-batches">
        <h2>Actively Cooking</h2>
        {currentBatches.map((batch) => (
          <div class="batch-card">
            <p>{batch.name}</p>
            <p>{batch.daysRemaining}</p>
            <p>{"❯"}</p>
          </div>
        ))}
      </div>
    </main>
  </body>
</html>
